#Project Name(alias,not branch name)|Type(production\development)|Project Path|Database type(base\aliyun)|Database id(if type is aliyun)
qycloud|production|/var/www/www.qycloud.com.cn|aliyun|XXXXXXX
dev|development|/var/www/dev.qycloud.com.cn|aliyun|XXXXXXX
